.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.favorite {
    background: #caffa5;
}

.favorite-text {
    color: red;
}

.invert {
    background: aliceblue;
    filter: invert(100%);
}

.invert-text {
    color: red;
}